<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eaprules.nova3"
    android:versionCode="1"
    android:versionName="0.1">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <application
        android:theme="@style/AppTheme"
        android:label="N.O.V.A. 3 ARM32"
        android:debuggable="false"
        android:appCategory="game"
        android:isGame="true"
        android:extractNativeLibs="true"
        android:resizeableActivity="false">
        <!-- Not debuggable (that turns on CheckJNI, which slows every GL call of the bridge several times),
             but still open to simpleperf from adb. -->
        <profileable android:shell="true" />
        <meta-data android:name="android.game_mode_config" android:resource="@xml/game_mode_config" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout|smallestScreenSize|density|uiMode|touchscreen|fontScale|layoutDirection|locale|colorMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
